{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard Videos{% endblock %}</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{csrf_token}}">
    
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="//unpkg.com/vuetify/dist/vuetify.css" rel="stylesheet">

    <script type="text/javascript" src="//unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="//unpkg.com/axios/dist/axios.js"></script>
    <script>
        axios.defaults.headers.common = {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        };
    </script>
    <script type="text/javascript" src="//unpkg.com/vuetify/dist/vuetify.js"></script>
    
    <script>//iview.lang('es-ES');</script>
    {% block base_style %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
<div id="app">    
    <v-app>
        
        {% if user.get_username %}         
        <v-toolbar fixed app flat style="border-bottom: 1px solid #e0e0e0;background-color: white">
            <v-toolbar-title>{% block header_title %}{% endblock %}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu :nudge-width="100">
                <v-toolbar-title slot="activator">
                    <v-avatar color="blue" size="32">
                        <span class="white--text headline">{{user.get_username | first | upper }}</span>
                    </v-avatar>
                </v-toolbar-title>
                <v-list>
                    <v-list-tile href="/api/logout">
                        <v-list-tile-content>
                            <v-list-tile-title>Cerrar sesión</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>        
        {% endif %}
        <v-content style="background-color: #eee">
                
            <v-container fluid  fill-height>
                {% block container %}{% endblock %}
            </v-container>
        </v-content>
    </v-app>
</div>
{% block script %}{% endblock %}
{% block base_script %}{% endblock %}
</body>
</html>