{% extends "bivideosweb/index.html" %}

{% block title %}Reporte Comercial | Dashboard Videos{% endblock %}

{% block style %}
<style>
.theme--dark .input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled) .input-group__input .input-group__prepend-icon:not(:hover) {
    color: #fff;
}
.input-group label,
.input-group--text-field input,
.input-group--select .input-group__selections__comma {
    font-size: 14px;
    font-weight: 400;
}
.v-datatable.v-table thead {
    background-color: rgb(30, 136, 229);
}
.theme--light .v-datatable thead th.column,
.theme--light .v-datatable thead th.column.sortable.active,
.theme--light .v-datatable thead th.column.sortable:hover,
.theme--light .v-datatable thead th.column.sortable.active i {
    color: #fff
}
table.v-table thead tr,
table.v-table tbody td, table.v-table tbody th {
    height: 29px;
    color: rgb(97, 97, 97);
}

.double-header table.v-table thead tr {
    max-height: 60px;
}
.double-header table.v-table thead th {
    white-space: normal;
    padding: 0 12px;
}
.table-title {
    margin-bottom: 10px;
    color: rgb(97, 97, 97);
}
.v-progress-linear{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
}
.container-table {
    padding: 15px;
}
.daterange_menu{
    min-width: 584px;
    background-color: #fff
}
@media only screen and (max-width: 599px) {
    .container {
      padding: 0px;
    }
    
    .daterange_menu{
        min-width: auto;
    }
    .container-table .table-title{
        padding-left: 15px;
    }
    .container-table {
        padding-left: 0;
        padding-right: 0;
    }
  }
</style>
{% endblock %}

{% block header_title %}
Reporte Comercial
{% endblock %}

{% block container %}<dashboard-comercial></dashboard-comercial>{% endblock %}

{% block script %}
<script type="text/x-template" id="dashboard-comercial-template">
<div class="flex xs12">
    <v-progress-linear :active="tabla_loading" height="5" :indeterminate="true"></v-progress-linear>
    <v-card color="white" style="max-width:1200px;min-height:900px;margin:0 auto">
            <v-toolbar color="blue"  flat class="theme--dark" style="padding-top: 10px;border-bottom:10px solid rgb(100, 181, 246)!important">
                <v-spacer></v-spacer>
                <v-select
                    :items="Object.values(select_brands)"
                    item-text="brand"
                    v-model="brands"
                    label="Marca"
                    multiple
                    @change="onFilterChange"
                    class="white--text"
                    style="max-width:300px;margin-right:20px"
                    
                ></v-select>
                <v-menu ref="menu_play_date" :close-on-content-click="false" v-model="menu_play_date" lazy transition="scale-transition" offset-y 
                    style="margin-right:20px;width:220px">
                    <v-text-field color="white" slot="activator" append-icon="arrow_drop_down"
                    :value="play_date_value" label="Fecha de reproducción" readonly></v-text-field>
                    <div class="daterange_menu">
                        <v-date-picker  class="elevation-0" v-model="play_date_range[0]" :min="min_play_date" :max="play_date_range[1]||max_play_date" no-title scrollable>
                            <v-btn flat color="primary" @click="play_date=[];menu_play_date=false;onFilterChange()">Todo el periodo</v-btn>
                        </v-date-picker>
                        <v-date-picker class="elevation-0" v-model="play_date_range[1]" :min="play_date_range[0]||min_play_date" :max="max_play_date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat style="color:gray" @click="menu_play_date=false">CANCELAR</v-btn>
                            <v-btn flat color="primary" :disabled="!play_date_range[0]||!play_date_range[1]" @click="play_date=[play_date_range[0],play_date_range[1]];menu_play_date = false;onFilterChange()">APLICAR</v-btn>
                        </v-date-picker>
                    </div>
                </v-menu>
                <v-menu ref="menu_publish_date" :close-on-content-click="false" v-model="menu_publish_date" lazy transition="scale-transition" offset-y
                style="width:220px">
                    <v-text-field color="white" slot="activator" append-icon="arrow_drop_down"
                    :value="publish_date_value" label="Fecha de publicación" readonly></v-text-field>
                    <div class="daterange_menu">
                        <v-date-picker  class="elevation-0" v-model="publish_date_range[0]" :min="min_publish_date" :max="publish_date_range[1]||max_publish_date" no-title scrollable>
                        <v-btn flat color="primary" @click="publish_date=[];menu_publish_date=false;onFilterChange()">Todo el periodo</v-btn>
                        </v-date-picker>
                        <v-date-picker class="elevation-0" v-model="publish_date_range[1]" :min="publish_date_range[0]||min_publish_date" :max="max_publish_date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat style="color:gray" @click="menu_publish_date=false">CANCELAR</v-btn>
                        <v-btn flat color="primary" :disabled="!publish_date_range[0]||!publish_date_range[1]" @click="publish_date=[publish_date_range[0],publish_date_range[1]];menu_publish_date = false;onFilterChange()">APLICAR</v-btn>
                        </v-date-picker>
                    </div>
                </v-menu>
            </v-toolbar>
            <v-layout row wrap style="height:50px"></v-layout>
            <v-layout row wrap class="container-table">
                <v-flex xs12 sm7>
                    <div class="table-title">
                        <b>Reporte 1 [ Xalok - Multidiario ]</b>
                    </div>
                    <v-data-table :headers="reporte_1_headers" :items="tabla_data" hide-actions class="elevation-0">
                        <template slot="items" slot-scope="props">
                            <td>{% verbatim %}{{ props.item[0] }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[1]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[2]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatPercent(props.item[3]) }}{% endverbatim %}</td>
                        </template>
                    </v-data-table>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs12 sm4>
                    <div class="table-title">
                        <b>Reporte 2 [ DFP ]</b>
                    </div>
                    <v-data-table :headers="reporte_2_headers" :items="tabla_data" hide-actions class="elevation-0">
                        <template slot="items" slot-scope="props">
                            <td>{% verbatim %}{{ props.item[0] }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[11]) }}{% endverbatim %}</td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-layout row wrap style="height:50px"></v-layout>
            <v-layout row wrap class="container-table">
                <v-flex xs12 class="double-header">
                    <div class="table-title">
                        <b>Reporte 3 [ Xalok - Multidiario - Ooyala ]</b>
                    </div>
                    <v-data-table  :headers="reporte_3_headers" :items="tabla_data" hide-actions class="elevation-0">
                        <template slot="items" slot-scope="props">
                            <td>{% verbatim %}{{ props.item[0] }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[4]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[5]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[6]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatPercent(props.item[7]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatPercent(props.item[8]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[9]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[10]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatNumber(props.item[12]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatPercent(props.item[13]) }}{% endverbatim %}</td>
                            <td class="text-xs-right">{% verbatim %}{{ formatPercent(props.item[14]) }}{% endverbatim %}</td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
    </v-card>
</div>
   

</script>
<script>
var context = {% autoescape off %}{{context}}{% endautoescape %};
Vue.component('dashboard-comercial', {
    template: '#dashboard-comercial-template',
    computed: {
        productsSelect(){
            // var that = this;
            // var products = [];
            // this.select_brands.forEach(function(item){
            //     if(that.brands && that.brands.indexOf(item.brand)>=0)
            //         item.productos.forEach(function(p){
            //             products.push(p)
            //         })                    
            // })
            // return products;
        },
        play_date_value () {
            if(this.play_date && this.play_date[0] && this.play_date[1]){
                // console.log(this.play_date)
                return this.get_short_date(this.play_date[0]) + ' - ' + this.get_short_date(this.play_date[1])
            }
        },
        publish_date_value () {
            if(this.publish_date && this.publish_date[0] && this.publish_date[1]){
                return this.get_short_date(this.publish_date[0]) + ' - ' + this.get_short_date(this.publish_date[1])
            }
        },
        params () {
            brands = []
            products = []
            this.brands.forEach(brand => {
                brands.push(brand.brand)
            });
            this.products.forEach(product => {
                products.push(product)
            });
            publish_date_start = this.publish_date && this.publish_date[0] && (new Date(this.publish_date[0])).toISOString().split('T')[0]
            publish_date_end = this.publish_date && this.publish_date[1] && (new Date(this.publish_date[1])).toISOString().split('T')[0]
            publish_date = publish_date_start && publish_date_end ? [publish_date_start, publish_date_end]:[]
            
            play_date_start = this.play_date && this.play_date[0] && (new Date(this.play_date[0])).toISOString().split('T')[0]
            play_date_end = this.play_date && this.play_date[1] && (new Date(this.play_date[1])).toISOString().split('T')[0]
            play_date = play_date_start && play_date_end ? [play_date_start, play_date_end]:[]
            
            result = {}
            if(brands.length>0) result.brands = brands.join(',')
            if(products.length>0) result.products = products.join(',')
            if(publish_date.length>0) result.publish_date = publish_date.join(',')
            if(play_date.length>0) result.play_date = play_date.join(',')
            return result
        }
    },
    data () {
        return {
            date: null,
            menu: false,
            menu_publish_date : null,
            publish_date : [],
            publish_date_range: [,],
            menu_play_date : null,
            play_date : [],
            play_date_range: [,],
            brands : [],
            products : [],
            select_brands: context.brands,
            max_publish_date : context.max_publish_date,
            min_publish_date : context.min_publish_date,
            max_play_date : context.max_play_date,
            min_play_date : context.min_play_date,

            date_publish_options : {
                disabledDate  (date) {
                    return date && (date.valueOf() < new Date(context.min_publish_date) || date.valueOf() > new Date(context.max_publish_date+'T23:59:59Z'));
                }
            },
            date_play_options : {
                disabledDate  (date) {
                    return date && (date.valueOf() < new Date(context.min_play_date) || date.valueOf() > new Date(context.max_play_date+'T23:59:59Z'));
                }
            },
            reporte_1_headers : [
                {
                    text: 'Marca',
                    align: 'left',
                    sortable: true,
                    value: '0'
                },
                { text: 'Notas Generadas',sortable: true,align: 'right', value: '1' },
                { text: 'Notas con Video',sortable: true,align: 'right', value: '2' },
                { text: 'Ratio de notas con video (%)',sortable: true,align: 'right', value: '3' }
            ],
            reporte_2_headers : [
                {
                    text: 'Marca',
                    align: 'left',
                    sortable: true,
                    value: '0'
                },
                { text: 'Reproducciones Monetizables DFP',sortable: true,align: 'right', value: '11' },
            ],
            reporte_3_headers : [
                {text: 'Marca',  align: 'left',sortable: true,value: '0'},
                { text: 'Videos Subidos',sortable: true,align: 'right', value: '4' },
                { text: 'Vid. Monet.',sortable: true,align: 'right', value: '5' },
                { text: 'Vid. No Monet.',sortable: true,align: 'right', value: '6' },
                { text: 'Ratio Vid Monet',sortable: true,align: 'right', value: '7' },
                { text: 'Ratio Vid No monet',sortable: true,align: 'right', value: '8' },
                { text: 'Reprod Totales',sortable: true,align: 'right', value: '9' },
                { text: 'Reprod Monet',sortable: true,align: 'right', value: '10' },
                { text: 'Reprod No Monet',sortable: true,align: 'right', value: '12' },
                { text: 'Ratio Reprod Monet',sortable: true,align: 'right', value: '13' },
                { text: 'Ratio Reprod No Monet',sortable: true,align: 'right', value: '14',width:'100px' },
            ],
            tabla_data : context.result_table,
            timer : null,
            tabla_loading : false,
            
            cancel_source : null
        }
    },
    methods : {
        formatNumber : function(value) {
            if(value){
                var num = value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                return num;
            }else return 0
        },
        formatPercent : function(value){
            if(value){
                return value.toString()+'%';
            }else return '0%'
        },
        get_short_date : function(str_date) {
            var months = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Set','Oct','Nov','Dic']
            var d = new Date(str_date)
            var ret = d.getUTCDate()+' '+ months[d.getUTCMonth()] + ' ' + d.getUTCFullYear()
            return ret
        },
        updateTable : function(){
            var params = this.params
            var that = this
            
            if(this.cancel_source) this.cancel_source.cancel()
            const CancelToken = axios.CancelToken;
            this.cancel_source = CancelToken.source();

            axios.get('/api/data-comercial', {
                    cancelToken: this.cancel_source.token,
                    params:params
                })
                .then(function (response) {
                    that.tabla_data = response.data.success.table
                    that.tabla_loading = false
                    
                })
        },
        onFilterChange : function(event){
            if(this.timer) clearTimeout(this.timer)
            this.tabla_loading = true
            this.timer = window.setTimeout(this.updateTable,500)
        }
    },
    mounted: function () { this.$nextTick(function () {
        
    })}
})
</script>
{% endblock %}