{% extends "bivideosweb/index.html" %}


{% block style %}
<script src="https://code.highcharts.com/maps/highmaps.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<style>
    .ivu-select, .ivu-date-picker {
        width: 100%;
        padding: 2px;
    }
    .ivu-row {
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}<dashboard-editorial></dashboard-editorial>{% endblock %}

{% block script %}
<script type="text/x-template" id="dashboard-editorial-template">
<div>
    <row>
        <i-col span="24">
            <card shadow>
                <row>
                    <i-col :xs="24" :sm="12" :md="6" :lg="6">
                        <i-select v-model="brands" multiple  placeholder="Marca" @on-change="onFilterChange">
                            <i-option v-for="brand in select_brands" :value="brand" :key="brand" :label="brand.brand">{{ brand.brand }}</i-option>
                        </i-select>
                    </i-col>
                    <i-col :xs="24" :sm="12" :md="6" :lg="6">
                        <i-select v-model="products" multiple placeholder="Producto" @on-change="onFilterChange">
                            <option-group v-for="brand in brands" v-if="brand.productos.length>0" :label="brand.brand">
                                <i-option v-for="product in brand.productos" :value="product" :key="product">{{ item.label }}</i-option>
                            </option-group>
                        </i-select>
                    </i-col>
                    <i-col :xs="24" :sm="12" :md="6" :lg="6">
                        <date-picker type="daterange" :options="date_play_options" placement="bottom-end" v-model="play_date_range" placeholder="Fecha de Reproducción" @on-change="onFilterChange"></date-picker>        
                    </i-col>
                    <i-col :xs="24" :sm="12" :md="6" :lg="6">
                        <date-picker type="daterange" :options="date_publish_options" placement="bottom-end" v-model="publish_date_range" placeholder="Fecha de Publicación" @on-change="onFilterChange"></date-picker>        
                    </i-col>
                </row>
            </card>
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <card shadow :style="{'overflow-x':'auto'}">
                <i-table :style="{'min-width':'1200px'}" border :loading="tabla_loading" :columns="tabla_columnas" :data="tabla_data"></i-table>
            </card>
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <card shadow>
                <div v-if="tabla_loading" class="ivu-spin ivu-spin-large ivu-spin-fix">
                    <div class="ivu-spin-main">
                        <span class="ivu-spin-dot"></span> 
                        <div class="ivu-spin-text"></div>
                    </div>
                </div>
                <div id="map-container"></div>
            </card>
        </i-col>
    </row>
<div>
</script>
<script>
var context = {% autoescape off %}{{context}}{% endautoescape %};
var print_map = function(data){
    // Create the chart
    Highcharts.mapChart('map-container', {
        chart: {
            map: 'custom/world'
        },
        title: {
            text: 'Reproducciones por país'
        },
        colorAxis: {
            minColor : '#FFFFFF'
        },
        credits: {
            enabled: false
        },
        series: [{
            data: data,
            name: 'Reproducciones',
            states: {
                hover: {
                    color: '#BADA55'
                }
            },
            dataLabels: {
                
                format: '{point.name}'
            }
        }]
    });

}
Vue.component('dashboard-editorial', {
    template: '#dashboard-editorial-template',
    computed: {
        productsSelect(){
            // var that = this;
            // var products = [];
            // this.select_brands.forEach(function(item){
            //     if(that.brands && that.brands.indexOf(item.brand)>=0)
            //         item.productos.forEach(function(p){
            //             products.push(p)
            //         })                    
            // })
            // return products;
        },
        params () {
            brands = []
            products = []
            this.brands.forEach(brand => {
                brands.push(brand.brand)
            });
            this.products.forEach(product => {
                products.push(product)
            });
            publish_date_start = this.publish_date_range && this.publish_date_range[0] && this.publish_date_range[0].toISOString().split('T')[0]
            publish_date_end = this.publish_date_range && this.publish_date_range[1] && this.publish_date_range[1].toISOString().split('T')[0]
            publish_date = publish_date_start && publish_date_end ? [publish_date_start, publish_date_end]:[]
            
            play_date_start = this.play_date_range && this.play_date_range[0] && this.play_date_range[0].toISOString().split('T')[0]
            play_date_end = this.play_date_range && this.play_date_range[1] && this.play_date_range[1].toISOString().split('T')[0]
            play_date = play_date_start && play_date_end ? [play_date_start, play_date_end]:[]
            
            result = {}
            if(brands.length>0) result.brands = brands.join(',')
            if(products.length>0) result.products = products.join(',')
            if(publish_date.length>0) result.publish_date = publish_date.join(',')
            if(play_date.length>0) result.play_date = play_date.join(',')
            return result
        }
    },
    data () {
        return {
            publish_date_range: [],
            play_date_range: [],
            brands : [],
            products : [],
            select_brands: context.brands,
            date_publish_options : {
                disabledDate  (date) {
                    return date && (date.valueOf() < new Date(context.min_publish_date) || date.valueOf() > new Date(context.max_publish_date+'T23:59:59Z'));
                }
            },
            date_play_options : {
                disabledDate  (date) {
                    return date && (date.valueOf() < new Date(context.min_play_date) || date.valueOf() > new Date(context.max_play_date+'T23:59:59Z'));
                }
            },
            tabla_columnas : [
                {
                    title: 'Marca',
                    key: 0,
                    sortable: true,
                },
                {
                    title: 'Cant.Vid',
                    key: 10,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[10].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Usu.Únicos',
                    key: 1,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[1].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Cant.Repr',
                    key: 2,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[2].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Repr Móv',
                    key: 3,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[3].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Repr Desk',
                    key: 4,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[4].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Porc.Repr',
                    key: 5,
                    sortable: true,
                },
                {
                    title: 'Cant.Exhib',
                    key: 6,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[6].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Exhib Móv',
                    key: 7,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[7].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Exhib Desk',
                    key: 8,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[8].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                },
                {
                    title: 'Replays',
                    key: 9,
                    sortable: true,
                    render: (h, params) => {
                        var num = params.row[9].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        return h('div', num)
                    },
                }
            ],
            tabla_data : context.result_table,
            timer : null,
            tabla_loading : false,
            map_data : context.map_data,
            cancel_source : null
        }
    },
    methods : {
        updateTable : function(){
            var params = this.params
            var that = this
            
            if(this.cancel_source) this.cancel_source.cancel()
            const CancelToken = axios.CancelToken;
            this.cancel_source = CancelToken.source();

            axios.get('/api/data-editorial', {
                    cancelToken: this.cancel_source.token,
                    params:params
                })
                .then(function (response) {
                    that.tabla_data = response.data.success.table
                    that.tabla_loading = false
                    print_map(response.data.success.map)
                })
        },
        onFilterChange : function(event){
            if(this.timer) clearTimeout(this.timer)
            this.tabla_loading = true
            this.timer = window.setTimeout(this.updateTable,500)
        }
    },
    mounted: function () { this.$nextTick(function () {
        print_map(this.map_data)
    })}
})
</script>
{% endblock %}