{% extends "bivideosweb/base.html" %}

{% block base_style %}
<style>
    .login-tip {
        font-size: 12px;
        text-align: center;
        color: #c3c3c3;
    }
</style>
{% endblock %}

{% block container %}
<v-layout align-center justify-center>
    <v-flex xs12 sm6 md4 lg3 style="max-width:300px">
        <v-card class="elevation-12">
            <v-toolbar dark color="primary">
                <v-toolbar-title>Iniciar sesión</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form  @keydown.enter="handleSubmit" ref="loginForm" :model="valid" :rules="rules">
                    <v-text-field v-model="loginForm.userName" prepend-icon="person" name="login" label="Usuario" type="text"></v-text-field>
                    <v-text-field v-model="loginForm.password" prepend-icon="lock" name="password" label="Contraseña" id="password" type="password"></v-text-field>
                </v-form>
                <p class="login-tip">Si tiene problemas para ingresar comuníquese con el administrador.</p>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="handleSubmit">Ingresar</v-btn>
            </v-card-actions>
        </v-card>
    </v-flex>
</v-layout>
{% endblock %}

{% block base_script %}
<script>
var Main = {
    data () {
        return {
            loginForm: {
                userName: '',
                password: ''
            },
            loggingIn: false,
            valid: true,
            rules: {
                userName: [
                    { required: true, message: 'Nombre de usuario es necesario', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'La contraseña es necesaria', trigger: 'blur' }
                ]
            }
        };
    },
    methods: {
        handleSubmit () {
            if(this.$refs.loginForm.validate()) {
        
            this.loggingIn = true
            const credentials = {
                username: this.loginForm.userName,
                password: this.loginForm.password
            }
            
            axios.post('/api/login', credentials)
                .then(function (response) {
                    if(response.data.success)
                    {
                        const options = window.location.search.slice(1)
                            .split('&')
                            .reduce(function _reduce (/*Object*/ a, /*String*/ b) {
                                b = b.split('=');
                                a[b[0]] = decodeURIComponent(b[1]);
                                return a;
                            }, {});
                        const href = options.next || '/'
                        window.location.href = href
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
        
    },
    axios
}

var Component = Vue.extend(Main)
new Component().$mount('#app')
</script>
{% endblock %}
