body {
    font-family: 'Roboto',sans-serif;
}
.pointer {
    cursor: pointer;
}
.layout{
    background: #f5f7f9;
    position: relative;
}
.layout-header-bar{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 64px;
    font-size: 35px;
}
.menu-icon{
    transition: all .3s;
}
.rotate-icon{
    transform: rotate(-180deg);
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}

.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
.layout-nav {
    float: right;
    margin-right: 20px;
}
.ivu-menu a{
    color: #fff;
}
.ivu-dropdown-menu {
    min-width: 100px;
}
.header-icon {
    background: no-repeat url(https://ssl.gstatic.com/analytics/rap/20180522_00020000/static/datastudio_sprite1.svg) -216px -75px;
    margin-left: 15px;margin-top: 17px;
    width: 192px;
    height: 192px;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scale(.166);
    -webkit-transform: scale(.166);
    transform: scale(.166);
}
.header-title {
    display: block;
    font-size: 16px;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid transparent;
    min-width: 40px;
    height: 24px;
    line-height: 24px;
    margin-top: 2px;
    transition: border-color 0.2s ease-in-out;
    overflow: hidden;
    color: rgb(66,66,66);
}